@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700|Open+Sans:400,600,300);
html{height:100%;}
body{
  margin-left:50px;
  margin-right:50px;
  height:100%;
  font-family: 'Open Sans', sans-serif;
}
#pagecontainer{
height:100%;
}

#banner{
  font-family: 'Josefin Sans', sans-serif;
  font-weight:200;
  background-color:#98A729;
  color: #F5F3F4;
  height:125px;
  border: 2px solid;
  font-size:50px;
  border-radius: 10px;
  padding-left:5%;
  padding-top:2%;
}
#sub{
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 20px;
}

#feedback{

  /*border-radius: 10px;
  border: 2px solid;
  border-color: #BFB58A;*/
  margin-top:15%;
  height:20%;
}

button{
  font-family: 'Open Sans', sans-serif;
  font-weight:100;
  background-color:#cba87a;
  height:20%;
  width: 20%;
  float:left;
  font-size:50px;
  position:absolute;
  color:white;
  border-radius:10px;
  border: 2px solid;
  border-color:#cba87a;
}

#timer{
  display:inline-block;
  position:relative;
  float:left;
}
#road{

  /*background-color:#cba87a;*/
  margin-top:1%;
  background-image: url('lamp.jpg') no-repeat fixed;
  height:200px;

  border-radius: 10px;
  border: 2px solid;
  border-color:#98A729;
}


#coal{


}


#counter{
  /*font-family: 'Geostar', cursive;*/

  font-family: 'Stint Ultra Expanded', cursive;
  font-size:150px;
  line-height:inherit;
  float:right;
  display:block;
}

#unit{
  font-size:100px;
}


#canvas{
  display:inline;
}





#burst-12 {
    background: red;
    width: 80px;
    height: 80px;
    position: relative;
    text-align: center;
}
#burst-12:before, #burst-12:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    background: red;
}
#burst-12:before {
    -webkit-transform: rotate(30deg);
       -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
         -o-transform: rotate(30deg);
}
#burst-12:after {
    -webkit-transform: rotate(60deg);
       -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
         -o-transform: rotate(60deg);
}
