@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700|Open+Sans:400,600,300);
html{height:100%;}
body{
  margin-left:50px;
  margin-right:50px;
  height:100%;
  font-family: 'Open Sans', sans-serif;
}
#pagecontainer{
height:100%;
}

#banner{
  font-family: 'Josefin Sans', sans-serif;
  background-color:#98A729;
  color: #F5F3F4;
  height:70px;
  border: 4px solid;
  font-size:50px;
  border-radius: 10px;
  border-color:#98A729;
  padding-left:5%;
  padding-top:2%;
  margin-bottom:4%;
  margin-top:2%;
  color: black;
  font-weight:bold;
}
#sub{
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 20px;
}
#results{
  font-family: 'Open Sans', sans-serif;
  color:black;
  margin-left:5%;
  margin-bottom:1%;
  position:absolute;
left:500px;
font-size:30px;
font-weight:bold;

}
#question{
  font-size:55px;
  font-weight:100;
}

#feedback{

  /*border-radius: 10px;
  border: 2px solid;
  border-color: #BFB58A;*/
  margin-top:5%;
  height:20%;
}

button{
  font-family: 'Open Sans', sans-serif;
  font-weight:100;
  margin-top:2%;
  /*background-color:#cba87a;*/
  height:15%;
  width: 15%;
  float:left;
  font-size:50px;
  position:absolute;
  color:black;
  border-radius:10px;
  border: 3px solid;
  border-color:black;
}

#timer{
  display:inline-block;
  position:relative;
  float:left;
}
#road{

  /*background-color:#cba87a;*/
  margin-top:3%;
  background-image: url('lamp.jpg') no-repeat fixed;
  height:200px;

  border-right: 4px solid;
/*  border-left:0px;
  border-right:0px;*/
  /*border-color:#98A729;*/
}


#coal{


}


#counter{
  /*font-family: 'Geostar', cursive;*/

  font-family: 'Open Sans', sans-serif;
  font-size:130px;
  font-weight:bold;
  line-height:inherit;
  float:right;
  display:block;
}

#unit{
  font-family:'Open Sans', sans-serif;
  font-size:100px;
  font-weight:200;
}


#canvas{
  display:inline;
}





#burst-12 {
    background: red;
    width: 80px;
    height: 80px;
    position: relative;
    text-align: center;
}
#burst-12:before, #burst-12:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    background: red;
}
#burst-12:before {
    -webkit-transform: rotate(30deg);
       -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
         -o-transform: rotate(30deg);
}
#burst-12:after {
    -webkit-transform: rotate(60deg);
       -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
         -o-transform: rotate(60deg);
}
